*{
    margin: 0;
    box-sizing: border-box;
  }
  
  html,body,#root{
    height: 100%;
  }
  .Home-container{
  display:grid;
  grid-template-rows: 4fr .5fr;
  height: 100%;
  
  }
  .Home-top{
    background-color: #FFFFFF;
  }
  .Home-bottom{
    background-color: #c4c4c4;
  }
  .Home-bottom img{
  
    width: 55px;
    height: 53.59px;
    margin-left: 110px;
    
    
    }
    .Home-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .homeStory-icon{
        height: 60px;
      width: 60px;
      border-radius: 50%;
      
      background-color: rgba(134, 121, 104, 0.781);
    }
    .Home-story{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 10px;
    }

    .Home-text{
        color: black;
        margin-left: 10px;
        
    }
    .Home-header{
        display:grid;
        grid-template-rows: auto 1fr;
        
    }
    .Home-story{
        background-color: #c4c4c4;

    }
    .Home-body{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    .Home-body-left{
        background-color: white;
    }
    .Home-body-right{
        background-color: white;
    }
    .Home-body-mid{
      border-left: solid black;
      height: 502.5px;
    }
    h2{
      text-align: center;
      margin-top: 20px;
    }
    .Home-body-right{
      display: grid;
      grid-template-columns: 25px 1fr;
      margin-top: 40px;
      gap: 40px;
    }
    .Home-body-mid-left img{
      width: 15px;
      height: 18px;
      margin-left: 10px;
    }
    .Home-body-left{
      /* margin-top: 80px;
      margin-left:150px ; */
      display: grid;
      grid-template-columns: 100px 1fr;
      overflow: auto;
    }
    .Home-body-left-top{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      
      background-color: rgba(134, 121, 104, 0.781);
    }
    .Home-body-left-post{
      
      width:500px;
      height: 220px;
    
      border-radius: 44px;
      transform: rotate(-0.59deg);
      background-color: rgb(27, 23, 23);

    }
    .Home-body-left-section{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin-top: 230px;
      
    }