*{
    margin: 0;
    box-sizing: border-box;
  }
  
  html,body,#root{
    height: 100%;
  }
  .profile-container{
  display:grid;
  grid-template-rows: 4fr .5fr;
  height: 100%;
  }
  .profile-top{
    background-color: #FFFFFF;
  }
  .profile-bottom{
    background-color: #c4c4c4;
  }
  .profile-image img{
    position: absolute;
    width: 107px;
    height: 107px;
    left: 624px;
    top: 104px;
    
    background: #FFFFFF;
    
  }
  .profile-header{
      display: grid;
      grid-template-rows: 1fr 1fr;
      place-items: center;
      text-align: center;
      margin-top: 220px;
  }
  .profile-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    
  }
.profile-bottom img{
  
width: 55px;
height: 53.59px;
margin-left: 100px;


}
.profile-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}