*{
  margin: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
}
.main-container {
  display:grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100%;
}
.Otp-container{
  display:grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100%;
}
.login{
  background-color: #006F76;
}
.Otp-left{
  background-color: #006F76;
}
.signUp {
  background-color: #D4F2F4;
}
.Otp-right{
  background-color: #D4F2F4;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 50px;
}
.login-section{
  display: grid;
  margin: auto;
  max-width: 50%;
  margin-top: 200px;
  border-radius: 10px;
  gap:5px;
  
}
.Otp-lSection{
  display: grid;
  margin: auto;
  max-width: 50%;
  margin-top: 200px;
  border-radius: 10px;
  gap:5px;
}
.login-header{
  text-align: center;
  font-family: "jura";
  color: #FFFFFF;
  font-weight: semi-bold;
}
.Otp-header{
  text-align: center;
  font-family: "jura";
  color:white;
  font-weight: semi-bold;
}
.underline{
  background-color: #006F76;
  border:none;
  width: 50px;
  border-bottom: solid 2px #fff;
  text-align: center;                              
}
.Otp-input{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #fff;
  gap: 10px;
}
.message-part{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.message-part-1, .message-part-2{
  color: white;
  cursor:pointer;
  font-family: "jura";
}
.Otp-rSection{
  
  background-repeat: no-repeat;
  display: grid;
  
}
.next-Button{
  margin: auto;
  cursor: pointer;
  
}
.next-Button img{
  width:45px;
 
}

p2{
  color: rgb(14, 13, 13);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.login-button{
  text-align: center;
  margin-top: 25px;
}
#login{
  padding: 10px;
  width:100px;
  cursor: pointer;
  
}
#btnUp{
  padding: 10px;
  width:100px;
  cursor: pointer;
}

#name,#password{
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  width: 220px;
  height:35px;
  background: rgba(196, 196, 196, 0.9);
  mix-blend-mode: screen;
  font-family: "jura";
  

}
p{
  
text-align: center;
color: #FFFFFF;
}
.signUp-header{
  position: absolute;
width: 147px;
height: 49px;
left: 605px;
top: 91px;

font-family: 'Jura';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 43px;

color: #000000;
}
.signUp-name{
  display: flex;
  gap: 10px;
  
}
.signUp-section{
  display: grid;
  padding-left: 10px;
  gap: 20px;
  
}
.signUp{
  display: grid;
  place-items: center;
  
}
.form-field{
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  padding: 5px;
  border-radius: 7px;
  mix-blend-mode: normal;
  
  
}
.form-field input{
  background-color: #D4F2F4;
  border-color: #006F76;
  border-radius: 7px;
  height: 26px;
  width: 220px;
}
.signUp-name input{
  background-color: #D4F2F4;
  border-color: #006F76;
  border-radius: 7px;
  
}
p1{
  color: #000000;
  text-align: left;
}
.form-button{
  display: grid;
  place-items: center;
  gap: 10px;
  text-align: center;
  color: #FFFFFF;
  
}
button{
 

color: #FFFFFF;
background: #006F76;
mix-blend-mode: normal;
border-radius: 7px;
}